{% extends 'shopping/base.html' %}

{% load static %}

{% block content %}

    <section>
        <div class="container">
            <div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="{% url 'home' %}">Home</a></li>
				  <li class="active">Product</li>
				</ol>
			</div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Category</h2>
                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->

                            {% for i in categories %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#{{ i.id }}">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											{{ i.name }}
										</a>
									</h4>
								</div>
								<div id="{{ i.id }}" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
                                            {% for x in subcategories %}
                                                {% if i.id == x.category.id %}
                                                    <li><a href="{% url 'subcategory_product' x.id %}">{{ x.name }}</a></li>
                                                {% endif %}
                                            {% endfor %}
										</ul>
									</div>
								</div>
							</div>
                            {% endfor %}
						</div><!--/category-products-->

                        <div class="brands_products"><!--brands_products-->
                            <h2>Brands</h2>
                            <div class="brands-name">
                                <ul class="nav nav-pills nav-stacked">
                                    {% for x in brand %}
                                        <li><a href="{% url 'brand' x.id %}"> <span class="pull-right">({{ x.product_set.all.count }})</span>{{ x.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div><!--/brands_products-->

{#                        <div class="price-range"><!--price-range-->#}
{#                            <h2>Price Range</h2>#}
{#                            <div class="well">#}
{#                                 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />#}
{#                                 <b>$ 0</b> <b class="pull-right">$ 600</b>#}
{#                            </div>#}
{#                        </div><!--/price-range-->#}

                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">Products</h2>
                            {% for x in product %}
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                {% if x.image %}
                                                    <img src="{{ x.image.url }}" alt="" style="width: 200px; height: 200px"/>
                                                {% endif %}
                                                <h2>${{ x.price }}</h2>
                                                <p>{{ x.name }}</p>
                                                <a href="{% url 'add_cart_product' x.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                            <div class="product-overlay">
                                                <div class="overlay-content">
                                                    <h2>${{ x.price }}</h2>
                                                    <p>{{ x.name }}</p>
                                                    <a href="{% url 'add_cart_product' x.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="choose">
                                            <ul class="nav nav-pills nav-justified">
                                                <li><a href="{% url 'add_wishlist_product' x.id %}"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                                <li><a href="{% url 'product_details' x.id %}"><i class="fa fa-plus-square"></i>More Info</a></li>
{#                                                <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>#}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                    </div><!--features_items-->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
