{% load static %}

{% load shopping_tags %}
<header id="header"><!--header-->

    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +996 778 67-89-98</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> anasbinkurban@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-phone"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
{#                        <a>Milky Way</a>#}
                        <a href="{% url 'home' %}" style="text-decoration:none"><img src="/static/images/404/Logo.png" alt="" style="height: 40px;"/></a>
                    </div>
{#                    <div class="btn-group pull-right">#}
{#                        <div class="btn-group">#}
{#                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">#}
{#                                CITY#}
{#                                <span class="caret"></span>#}
{#                            </button>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="#">Bishkek</a></li>#}
{#                                <li><a href="#">New York</a></li>#}
{#                                <!-- !!! Here will be a City -->#}
{#                                {% for i in city %}#}
{#                                <li><a href="#">{{ i.name }}</a></li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        </div>#}
{##}
{#                        <div class="btn-group">#}
{#                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">#}
{#                                CURRENCY#}
{#                                <span class="caret"></span>#}
{#                            </button>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="#">Dollar</a></li>#}
{#                                <li><a href="#">Com</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'account' %}"><i class="fa fa-user"></i> Account</a></li>

                            {% if user.is_authenticated %}

                                <li><a href="{% url 'my_wishlist' %}">{% wishlistitem user.id %}&nbsp<i class="fa fa-star"></i> Wishlist</a></li>
    {#                            <li><a href="../checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>#}
                                <li><a href="{% url 'my_cart' %}">{% orderitem user.id %}&nbsp<i class="fa fa-shopping-cart"></i> Cart</a></li>

                                {% else %}

                                <li><a href="{% url 'my_wishlist' %}">&nbsp<i class="fa fa-star"></i> Wishlist</a></li>
    {#                            <li><a href="../checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>#}
                                <li><a href="{% url 'my_cart' %}">&nbsp<i class="fa fa-shopping-cart"></i> Cart</a></li>

                            {% endif %}

                            {% if user.is_authenticated %}
                                <li><a href="{% url 'logout_own' %}"><i class="fa fa-lock"></i> Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'login_own' %}"><i class="fa fa-lock"></i> Login</a></li>
{#                                <li><a href="{% url 'logout_own' %}"><i class="fa fa-lock"></i> Logout</a></li>#}
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
{#                    <div class="navbar-header">#}
{#                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">#}
{#                            <span class="sr-only">Toggle navigation</span>#}
{#                            <span class="icon-bar"></span>#}
{#                            <span class="icon-bar"></span>#}
{#                            <span class="icon-bar"></span>#}
{#                        </button>#}
{#                    </div>#}
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="{% url 'home' %}" class="active">Home</a></li>
                            <li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="{% url 'product' %}">Products</a></li>
{#                                    <li><a href="{% url 'product_details' 'Apple' %}">Product Details</a></li>#}
                                    <!-- <li><a href="checkout.html">Checkout</a></li>  -->
                                    {% for x in categories %}
                                        <li><a href="{% url 'category_subcategory' x.id %}">{{ x.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Cart/Wishlist<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="{% url 'product' %}">Products</a></li>
{#                                    <li><a href="{% url 'product_details' 'Apple' %}">Product Details</a></li>#}
                                    <!-- <li><a href="checkout.html">Checkout</a></li>  -->
{#                                    {% for x in categories %}#}
{#                                        <li><a href="{% url 'category_subcategory' x.id %}">{{ x.name }}</a></li>#}
{#                                    {% endfor %}#}
                                    <li><a href="{% url 'my_cart' %}">Cart</a></li>
                                    <li><a href="{% url 'my_wishlist' %}">Wishlist</a></li>
                                </ul>
                            </li>
{#                            <li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>#}
{#                                <ul role="menu" class="sub-menu">#}
{#                                    <li><a href="{% url 'blog_list' %}">Blog List</a></li>#}
{#                                    <li><a href="{% url 'blog_single' %}">Blog Single</a></li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li><a href="{% url 'blog_list' %}">Blog</a></li>#}
{#                            <li><a href="{% url 'error_404' %}">404</a></li>#}
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
{#                <div class="col-sm-3">#}
{#                    <div class="search_box pull-right">#}
{#                        <input type="text" placeholder="Search"/>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->