{% extends 'shopping/base.html' %}

{% load static %}

{% block content %}
    <section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						<form action="{% url 'login_own' %}" method="post" name="login">
                            {% csrf_token %}
                            <input type="text" placeholder="Name" name="name"/>
							<input type="password" placeholder="Password" name="password"/>
{#							<input type="email" placeholder="Email Address" name="email"/>#}
							<span>
								<input type="checkbox" class="checkbox">
								Keep me signed in
							</span>
							<button type="submit" class="btn btn-default" name="login">Login</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
{#                    <small class="comment" contenteditable="true" style="outline: none">#}
{#                        {% if messages %}#}
{#                            <ul class="messages">#}
{#                                {% for message in messages %}#}
{#                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        {% endif %}#}
{#                    </small>#}
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Sign Up!</h2>
						<form action="{% url 'login_own' %}" method="post" name="register">
                            {% csrf_token %}
							<input type="text" placeholder="Name" name="name"/>
							<input type="email" placeholder="Email Address" name="email"/>
							<input type="password" placeholder="Password" name="password"/>
{#                            <input type="password" placeholder="Repeat password" name="password2"/>#}
							<button type="submit" class="btn btn-default" name="register">Signup</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
{% endblock %}
